@{
    ViewData["Title"] = "Final Malo";
}
<h2>❌ Game Over</h2>
<p>Ingresaste códigos erróneos demasiadas veces.</p>
<p>El tren desapareció en la niebla... nunca se supo qué pasó con vos.</p>
<a href="/Home/Index">Volver a intentar</a>
