@{
    ViewData["Title"] = "Final Bueno";
}
<section class = "bueno">
<h2>¡Lo lograste!</h2>
<p>El tren se detuvo.</p>
<p>Tardaste en detenerlo: @ViewBag.Tiempo</p>
<p>Tuviste suerte, pero no la tendras la próxima...</p>
<a href="/Home/Index">Volver al inicio</a>

</section>
