@{
    ViewData["Title"] = "Escape del Tren Fantasma";
}
<body class = "body">
        <section class ="pantalla-inicio">
            <h1> Escape del Tren Fantasma</h1>
            <p>Bienvenido al misterio del tren fantasma.<br />¿Podrás escapar a tiempo?</p>
            <div class="botones-inicio">
              <a href="/Home/Historia" class="boton-link">🧠 Ver Historia</a>
              <a href="/Home/Creditos" class="boton-link ">👥 Créditos</a>
             <a href="/Home/Iniciar" class="boton-link">🎮 Jugar</a>
          </div>
        </section>
</body>

