@{
    ViewData["Title"] = "Inicio";
}
<h1>🎮 Escape del Tren Fantasma</h1>
<p>Bienvenido al misterio del tren fantasma. ¿Podrás escapar a tiempo?</p>

<a href="/Home/Historia">🧠 Ver Historia</a> |
<a href="/Home/Creditos">👥 Créditos</a> |
<a href="/Home/Iniciar">🎮 Jugar</a>
