@{
    ViewData["Title"] = "Escape del Tren Fantasma";
}

<div class="pantalla-inicio">
    <h1><i class="fa-solid fa-ghost"></i> Escape del Tren Fantasma</h1>
    <p>Bienvenido al misterio del tren fantasma.<br />¿Podrás escapar a tiempo?</p>

    <div class="botones-inicio">
        <a href="/Home/Historia" class="boton-link historia">🧠 Ver Historia</a>
        <a href="/Home/Creditos" class="boton-link creditos">👥 Créditos</a>
        <a href="/Home/Iniciar" class="boton-link jugar">🎮 Jugar</a>
    </div>
</div>
