@{
    ViewData["Title"] = "Inicio del juego";
}
<h2>Ingresá tu nombre para comenzar la aventura:</h2>
<form method="post">
    <input type="text" name="nombre" required placeholder="Tu nombre..." />
    <button type="submit">Comenzar</button>
</form>
