@{
    ViewData["Title"] = "Puerta desbloqueada";
}
<div class="container">
    <h2>✅ ¡Puerta desbloqueada!</h2>
    <p>Pasando al siguiente vagón...</p>

    <script>
        setTimeout(function () {
            window.location.href = '/Home/Sala/2';
        }, 2000);
    </script>
</div>
