@{
    ViewData["Title"] = "Puerta desbloqueada";
}
<div class="container" style="text-align:center; padding: 4rem;">
    <h2>✅ ¡Puerta desbloqueada!</h2>
    <p>Pasando al siguiente vagón...</p>

    <script>
        setTimeout(function () {
            window.location.href = '/Home/Sala/3';
        }, 2000);
    </script>
</div>
