@{
    ViewData["Title"] = "Sala 2 - Vagón Comedor";
}
<body>
    <main class = "sala2">
        <section class = "intro">
            <h2>🍽️ Vagón Comedor</h2>               
                <h1>Superaste la sala 1, pero para seguir esta muy oscuro no?</h1>
        </section>
            <section class="luz">
                    <form method = "post" action= '@Url.Action("Sala2", "Home")'>
                    <button type="submit">
                    </form>
    
                </section>


    </main>
</body>

