@{
    ViewData["Title"] = "Sala 4 - Vagón del Maquinista";
}
<section class = "sala4">
<section class="intro">
    <h2>⚙️ Vagón del Maquinista</h2>
    <p>Una consola se ilumina al verte llegar. Es tu última oportunidad.</p>

    <form method="post" asp-action="Salas">
        <input type="text" name="codigo" placeholder="Código final (ej. 7423582)" required />
        <button type="submit">Activar Freno</button>
    </form>

     @if (ViewBag.Error != null)
                {
                  <section class = "error">
                  <p>@ViewBag.Error</p>
                 </section>
                 }
</section>
</section>
