@{
    ViewData["Title"] = "Sala 1 - Vag칩n de Equipajes";
}
<body>
    <main class = "sala1">
        <section class = "intro">
             <h2>游뛁 Vag칩n de Equipajes</h2>
            <p>Explor치 el vag칩n. Encontr치 las valijas ocultas y descubr칤 el c칩digo para avanzar.</p>
            <form method="post" asp-action="Salas">
             <input type="text" name="codigo" placeholder="Ingres치 la clave (3 d칤gitos)"/>
             <button type="submit">Desbloquear puerta</button>
             </form>
              @if (ViewBag.Error != null)
             {
                  <section class = "error">
                 <p>@ViewBag.Error</p>
                  </section>
             }
        </section>
        
        <section class ="valija1"> 
            <img src="~/img/valija1.png" alt="Valija 1" onclick="7">
         </section>
         <section class ="valija2"> 
            <img src="~/img/valija2.png" alt="Valija 2" onclick="4">
         </section>
         <section class ="valija3"> 
            <img src="~/img/valija3.webp" alt="Valija 3" onclick="2">
         </section>

    </main>
</body>