@{
    ViewData["Title"] = "Sala 2 - Vagón Comedor";
}
<body >


    <main class = "sala2p2">
        <section class = "intro">
            <h2>🍽️ Vagón Comedor</h2>
             <p>Mucho mejor. Presta atencion a los objetos. Pista: PCS</p>
              <form method="post" asp-action="Salas">
              <input type="text" name="codigo" placeholder="Ingresá la clave (3 dígitos)" autocomplete = "off"/>
               <button type="submit">Desbloquear puerta</button>
                </form>
                
                 @if (ViewBag.Error != null)
                {
                  <section class = "error">
                  <p>@ViewBag.Error</p>
                 </section>
                 }
        </section>
     



    </main>
</body>

