@{
    ViewData["Title"] = "Sala 3 - Vag贸n de Pasajeros";
}
<section class = "sala3">


    <section class = "intro">
        <h2> Vag贸n de Pasajeros</h2>
    <div>
        <p>Me buscan con prisa al llegar la estaci贸n,
sin m铆 no hay entrada, ni viaje, ni acci贸n.
Aunque soy solo un papel, mi poder es total,
sin m铆 te qued谩s, en el and茅n... y mal.
驴Qu茅 soy?</p>
<p>Pista: Abecedario</p>
    </div>
    
    
    <form method="post" action= '@Url.Action("Salas", "Home")'>
        <input type="text" name="codigo" placeholder="Ingresa el codigo (2 digitos)" autocomplete = "off"/>
        <button type="submit">Enviar</button>
    </form>


     @if (ViewBag.Error != null)
                {
                  <section class = "error">
                  <p>@ViewBag.Error</p>
                 </section>
                 }
</section>
ticket
</section>
