@{
    ViewData["Title"] = "Sala 1 - Vag칩n de Equipajes";
}
<body>
    <main class = "sala1">
        <section class = "intro">
             <h2>游뛁 Vag칩n de Equipajes</h2>
            <p>Explor치 el vag칩n. Encontr치 las valijas ocultas y descubr칤 el c칩digo para avanzar.</p>
            <form method="post" asp-action="Salas" >
             <input type="text" name="codigo" autocomplete = "off" placeholder="Ingres치 la clave (3 d칤gitos)"/>
             <button type="submit">Desbloquear puerta</button>
             </form>
              @if (ViewBag.Error != null)
             {
                  <section class = "error">
                 <p>@ViewBag.Error</p>
                  </section>
             }
        </section>
        
        <section class="valija" style="top: 40%; left: 15%;" onclick="mostrarNumero(this)">
            <img src="~/img/valija1.png" alt="Valija 1" />
            <span class="numero">7</span>
        </section>
        <section class="valija" style="top: 60%; left: 40%;" onclick="mostrarNumero(this)">
            <img src="~/img/valija1.png" alt="Valija 2" />
            <span class="numero">4</span>
        </section>
        <section class="valija" style="top: 30%; left: 70%;" onclick="mostrarNumero(this)">
            <img src="~/img/valija1.png" alt="Valija 3" />
            <span class="numero">2</span>
        </section>
    

  
 @section Scripts {
<script>
    function mostrarNumero(elemento) {
        const numero = elemento.querySelector(".numero");
        numero.style.display = "block";
    }
</script>
 }

    </main>
</body>