@{
    ViewData["Title"] = "Sala 4 - Vagón del Maquinista";
}

<section class = "sala4">
<section class="intro">
    <h2>⚙️ Vagón del Maquinista</h2>
    <p>Llegaste a la ultima sala. Deberas adivinar el codigo final. Pista: Volver al pasado</p>

    <form method="post" action= '@Url.Action("Salas", "Home")'>
        <input type="text" name="codigo" autocomplete = "off"/>
        <button type="submit">Activar Freno</button>
    </form>

     @if (ViewBag.Error != null)
                {
                  <section class = "error">
                  <p>@ViewBag.Error</p>
                 </section>
                 }
</section>
</section>
