@{
    ViewData["Title"] = "Sala 2 - Vagón Comedor";
}
<body class = "sala2">
    <main>
        <section class = "intro">
            <h2>🍽️ Vagón Comedor</h2>
             <p>Explorá el vagón. ¿Cuántos platos, copas y servilletas ves?</p>
              <form method="post" asp-action="Salas">
              <input type="text" name="codigo" placeholder="Ingresá la clave (3 dígitos)"/>
               <button type="submit">Desbloquear puerta</button>
                </form>
                 @if (ViewBag.Error != null)
                {
                  <section class = "error">
                  <p>@ViewBag.Error</p>
                 </section>
                 }
        </section>
     <section class = "plato1">
            <img src="plato.png" alt="plato">
         </section>
         <section class = "plato2">
            <img src="plato.png" alt="plato">
         </section>
         <section class = "plato3">
            <img src="plato.png" alt="plato">
         </section>

         <section class = "copa1">
            <img src="copa.png" alt="copa">
         </section>
         <section class = "copa2">
            <img src="copa.png" alt="copa">
         </section>
         <section class = "copa3">
            <img src="copa.png" alt="copa">
         </section>
         <section class = "copa4">
            <img src="copa.png" alt="copa">
         </section>
         <section class = "copa5">
            <img src="copa.png" alt="copa">
         </section>
         
         <section class = "servilleta1">
            <img src="servilleta.webp" alt="servilleta">
         </section>
         <section class = "servilleta2">
            <img src="servilleta.webp" alt="servilleta">
         </section>
         <section class = "servilleta3">
            <img src="servilleta.webp" alt="servilleta">
         </section>
         <section class = "servilleta4">
            <img src="servilleta.webp" alt="servilleta">
         </section>
         <section class = "servilleta5">
            <img src="servilleta.webp" alt="servilleta">
         </section>
         <section class = "servilleta6">
            <img src="servilleta.webp" alt="servilleta">
         </section>
         <section class = "servilleta7">
            <img src="servilleta.webp" alt="servilleta">
         </section>
         <section class = "servilleta8">
            <img src="servilleta.webp" alt="servilleta">
         </section>

    </main>
</body>

